################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureFunctionsLearning/.vs/AzureFunctionsLearning/v15
/AzureFunctionsLearning/.vs/config
